@for $i from 1 through 6 {
  h#{$i} {
    background-color: var(--text);
    color: var(--layer);
    display: inline-block;
  }
}

code {
  background-color: var(--grey);
  border-radius: 4px;
  margin: 0;
  padding: 0 0.4em;
  width: calc(100vw - 70px);
  max-width: 100%;
}

ul {
  list-style-type: square;
}
